html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #ddd;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #e72223;
}

ol, ul, li, a {
  list-style: none;
  text-decoration: none;
  color: black;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px !important;
}

body {
  font-size: 100%;
}

input, textarea {
  border: 0;
  padding: 0;
  margin: 0;
}

input:focus, textarea:focus {
  outline: none;
}

.slide_controll {
  position: absolute;
  top: 30%;
  left: calc((100% - 1600px) / 2);
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.slide_controll .swiper-pagination {
  flex: 0;
  position: static;
  width: auto;
  display: flex;
}
.slide_controll .swiper-pagination .swiper-pagination-bullet {
  width: 50px;
  height: 50px;
  color: #fff;
  opacity: 1;
}
.slide_controll .swiper-pagination .swiper-pagination-bullet.pNum {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard Variable";
  font-size: 1.6rem;
  font-weight: normal;
  color: #fff;
  text-align: center;
  line-height: 1.3;
}
.slide_controll .pause_controll {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-left: 6px;
  z-index: 2;
}
.slide_controll .pause_controll .pause {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.slide_controll .pause_controll .pause::before, .slide_controll .pause_controll .pause::after {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  background-color: #fff;
}
.slide_controll .pause_controll .pause::before {
  margin-right: 4px;
}
.slide_controll .pause_controll .play {
  display: none;
  width: 10px;
  height: 10px;
  background: url(../imgs/common/icon-slider-play.svg) no-repeat center/contain;
}

.visual_wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}
.visual_wrap .cont_wrap {
  height: 100%;
}
.visual_wrap .cont_wrap .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.visual_wrap .cont_wrap .inner .swiper_controll {
  margin-bottom: 17px;
}
.visual_wrap .cont_wrap .inner .swiper_controll span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: solid #e72223 2px;
  padding: 12px;
  color: #fff;
  line-height: 1.47;
  font-weight: bold;
}

.swiper_wrap {
  width: 100%;
  height: 100%;
}
.swiper_wrap .slide {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper_wrap .slide:nth-of-type(1) img:nth-of-type(1), .swiper_wrap .slide:nth-of-type(2) img:nth-of-type(1) {
  display: block;
}
.swiper_wrap .slide:nth-of-type(1) img:nth-of-type(2), .swiper_wrap .slide:nth-of-type(2) img:nth-of-type(2) {
  display: none;
}
.swiper_wrap .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper_wrap .cont_text {
  position: absolute;
  top: 0;
  left: calc((100% - 1600px) / 2);
  z-index: 2;
  width: 100%;
  height: 100%;
  max-width: 1720px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-family: "Pretendard Variable";
  font-size: 5.2rem;
  font-weight: 300;
  color: #fff;
  text-align: left;
  line-height: 1.46;
}
.swiper_wrap .cont_text span {
  font-weight: bold;
}

.video_modal_wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 20px 20px 30px;
  background-color: #e72223;
  z-index: 5;
}
.video_modal_wrap .modal_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_modal_wrap .modal_btn .modal_title {
  margin-right: 30px;
}
.video_modal_wrap .modal_btn .modal_title p {
  font-family: "Pretendard Variable";
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  text-align: left;
  line-height: 1.75;
}
.video_modal_wrap .modal_btn .modal_title b {
  font-family: "Pretendard Variable";
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-align: left;
  line-height: 1.5;
}
.video_modal_wrap .modal_btn .modal_img {
  position: relative;
  top: 0;
  left: 0;
}
.video_modal_wrap .modal_btn .modal_img img {
  width: 218px;
  height: 141px;
}
.video_modal_wrap .modal_btn .modal_img .playbtn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video_modal_wrap .modal_btn .modal_img .playbtn img {
  width: 100%;
}

.modal_wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal_wrap.open {
  display: flex;
}
.modal_wrap .modal_cont {
  transition: transform 0.3s ease-out;
  position: relative;
  width: 100%;
  max-width: 1332px;
  margin: 0 auto;
  padding: 0 60px;
}
.modal_wrap .modal_cont .video_cont {
  width: 100%;
  border: none;
  background-color: transparent;
  box-shadow: none;
  margin: 0 auto;
  position: relative;
  padding-bottom: 56%;
}
.modal_wrap .modal_cont .video_cont .video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.modal_wrap .modal_cont .close_btn {
  position: absolute;
  top: -40px;
  right: 60px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../imgs/common/popup_close_btn_fff.svg);
  cursor: pointer;
}

.main_intro_wrap {
  width: 100%;
  padding: 180px 0;
}
.main_intro_wrap .intro_mitem {
  display: none;
}
.main_intro_wrap .intro_item {
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #e72223 solid 1px;
}
.main_intro_wrap .intro_item .intro_text {
  width: 50%;
  font-family: "Archivo", sans-serif;
  font-size: 14rem;
  font-weight: 700;
  color: #e72223;
  text-align: left;
  line-height: 1.07;
  padding-right: 30px;
}
.main_intro_wrap .intro_item .intro_img {
  width: 48%;
}
.main_intro_wrap .intro_item .intro_img img {
  width: 100%;
}
.main_intro_wrap .intro_item:nth-of-type(3) {
  flex-direction: row-reverse;
}
.main_intro_wrap .intro_item:nth-of-type(3) .intro_text {
  text-align: right;
  padding-left: 30px;
  padding-right: 0;
}
.main_intro_wrap .intro_item:nth-of-type(4) .intro_text {
  font-family: "Pretendard Variable";
  font-size: 3.2rem;
  font-weight: 300;
  color: #e72223;
  text-align: center;
  line-height: 1.56;
}
.main_intro_wrap .intro_item:nth-of-type(4) .intro_text b {
  font-weight: bold;
}

.main_business_wrap {
  width: 100%;
  position: relative;
}
.main_business_wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 277px;
  background-color: #f4f4f9;
  z-index: -1;
}
.main_business_wrap .business_cont {
  width: 100%;
  display: flex;
}
.main_business_wrap .business_cont .cont_left {
  width: 60%;
  height: 620px;
}
.main_business_wrap .business_cont .cont_left:nth-of-type(1) .business_item .bg {
  background-image: url(../imgs/main/img-main-business-01.jpg);
}
.main_business_wrap .business_cont .cont_right {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.main_business_wrap .business_cont .business_item {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  bottom: 0;
}
.main_business_wrap .business_cont .business_item:nth-of-type(1) .bg {
  background-image: url(../imgs/main/img-main-business-02.jpg);
}
.main_business_wrap .business_cont .business_item:nth-of-type(2) .bg {
  background-image: url(../imgs/main/img-main-business-03.jpg);
}
.main_business_wrap .business_cont .business_item a {
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 5;
  transition: 1s;
}
.main_business_wrap .business_cont .business_item a .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
}
.main_business_wrap .business_cont .business_item a .txt_wrap {
  overflow: hidden;
  position: absolute;
  bottom: 60px;
  left: 0;
  padding: 0 60px;
}
.main_business_wrap .business_cont .business_item a .txt_wrap .inner_t {
  transition: 0.5s;
  transform: translateY(calc(100% - 48px));
}
.main_business_wrap .business_cont .business_item a .txt_wrap .inner_t span {
  font-family: "Pretendard Variable";
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  text-align: left;
  line-height: 1.6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main_business_wrap .business_cont .business_item a .txt_wrap .inner_t span::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../imgs/main/icon-go-to.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  transition-duration: 0.3s;
}
.main_business_wrap .business_cont .business_item a .txt_wrap .inner_t p {
  font-family: "Pretendard Variable";
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  text-align: left;
  line-height: 1.6;
}
.main_business_wrap .business_cont .business_item a:hover .inner_t {
  transform: translateY(0px);
}
.main_business_wrap .business_cont .business_item a:hover .bg {
  transition: 1s;
  transform: scale(1.2);
}

.main_type_wrap {
  width: 100%;
  padding: 250px 0 100px 0;
  background-color: #f4f4f9;
}
.main_type_wrap .inner_c .txt_area .title {
  margin-bottom: 25px;
}
.main_type_wrap .inner_c .tab_list {
  display: none;
}
.main_type_wrap .inner_c .tab_list.on {
  display: block;
}
.main_type_wrap .inner_c .tab_list .list_wrap .list {
  width: auto;
  flex: 1;
}
.main_type_wrap .inner_c .tab_list .list_wrap .list a {
  display: inline-block;
  height: 100%;
}
.main_type_wrap .inner_c .tab_list .list_wrap .list a img {
  transition-duration: 0.3s;
  width: 100%;
  border: solid #d6d6e3 1px;
}
.main_type_wrap .inner_c .tab_list .list_wrap .list a img:nth-of-type(2) {
  display: none;
}
.main_type_wrap .inner_c .tab_list .list_wrap .list a .sub_title {
  font-family: "Archivo", sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  color: #6d6d7e;
  text-align: left;
  line-height: 1.56;
  display: block;
  margin: 35px 0 10px 0;
}
.main_type_wrap .inner_c .tab_list .list_wrap .list a .sub_txt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  color: #31313f;
  text-align: left;
  line-height: 1.64;
  transition-duration: 0.3s;
}
.main_type_wrap .inner_c .tab_list .list_wrap .list a .sub_txt::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../imgs/main/icon-go-to-A0A0B1-m.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  transition-duration: 0.3s;
}
.main_type_wrap .inner_c .tab_list .list_wrap .list a:hover img {
  border-color: #e72223;
}
.main_type_wrap .inner_c .tab_list .list_wrap .list a:hover .sub_txt {
  color: #e72223;
}
.main_type_wrap .inner_c .tab_list .list_wrap .list a:hover .sub_txt::after {
  background-image: url(../imgs/main/icon-go-to-E82324.svg);
}

.main_film_wrap {
  padding: 150px 0 250px 0;
  background-color: #f4f4f9;
}
.main_film_wrap .inner_c {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main_film_wrap .inner_c .txt_area {
  width: 32%;
  position: sticky;
  top: 150px;
}
.main_film_wrap .inner_c .txt_area .title {
  text-align: left;
  margin-bottom: 20px;
}
.main_film_wrap .inner_c .cont_wrap {
  width: 58%;
}
.main_film_wrap .inner_c .cont_wrap .cont_area {
  width: 100%;
}
.main_film_wrap .inner_c .cont_wrap .cont_area .cont_title {
  margin-bottom: 20px;
  font-family: "Pretendard Variable";
  font-size: 3.6rem;
  font-weight: 600;
  color: #31313f;
  text-align: left;
  line-height: 1.33;
}
.main_film_wrap .inner_c .cont_wrap .cont_area .cont {
  width: 100%;
}
.main_film_wrap .inner_c .cont_wrap .cont_area .cont .cont_item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaf2;
  margin-bottom: 20px;
}
.main_film_wrap .inner_c .cont_wrap .cont_area .cont .cont_item > p {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard Variable";
  font-size: 2.4rem;
  font-weight: 500;
  color: #31313f;
  text-align: center;
  line-height: 1.46;
  margin-left: 10px;
}
.main_film_wrap .inner_c .cont_wrap .cont_area .cont .cont_item .item_img {
  display: block;
  width: 90%;
}
.main_film_wrap .inner_c .cont_wrap .cont_area .cont .cont_item .item_img .img_wrap {
  position: relative;
  padding-bottom: 30%;
}
.main_film_wrap .inner_c .cont_wrap .cont_area .cont .cont_item .item_img .img_wrap img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main_film_wrap .inner_c .cont_wrap .cont_area .cont .cont_item .item_txt {
  display: block;
  width: 90%;
  padding: 63px 70px;
}
.main_film_wrap .inner_c .cont_wrap .cont_area .cont .cont_item .item_txt > p {
  width: 100%;
  font-family: "Pretendard Variable";
  font-size: 2rem;
  font-weight: 400;
  color: #6d6d7e;
  text-align: left;
}
.main_film_wrap .inner_c .cont_wrap .cont_area:not(:last-child) {
  margin-bottom: 100px;
}

.main_img_wrap .img_area .main_img {
  margin-left: calc((100% - 1600px) / 2);
  padding-top: 30.89569161%;
  background-image: url(../imgs/main/img-main-between_n2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.main_info_wrap {
  padding: 250px 0;
}
.main_info_wrap .inner_c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main_info_wrap .inner_c .cont_img {
  width: 55%;
  height: 500px;
  background: url(../imgs/main/img-info.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.main_info_wrap .inner_c .txt_area {
  width: 35%;
}

.main_map_wrap {
  position: relative;
}
.main_map_wrap .inner_c {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.main_map_wrap .inner_c .txt_area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.main_map_wrap .inner_c .txt_area h4.title {
  width: 35%;
  text-align: left;
  display: inline-block;
}
.main_map_wrap .inner_c .txt_area .desc {
  width: 50%;
}
.main_map_wrap .map_area img {
  width: 100%;
}

body {
  font-size: 10px !important;
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
}

.hide {
  overflow: hidden;
}

section h2 {
  display: none;
}

.inner {
  width: 100%;
  max-width: 1636px;
  margin: 0 auto;
  padding: 0 18px;
}

.inner_c {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 60px;
}

h4.title {
  font-family: "Pretendard Variable";
  font-size: 4.8rem;
  font-weight: 600;
  color: #31313f;
  text-align: left;
  line-height: 1.41;
}

.title {
  font-family: "Pretendard Variable";
  font-size: 5.8rem;
  font-weight: 600;
  color: #31313f;
  text-align: center;
  line-height: 1.41;
  margin-bottom: 55px;
}

.desc {
  font-family: "Pretendard Variable";
  font-size: 2rem;
  font-weight: 400;
  color: #6d6d7e;
  text-align: left;
  line-height: 1.6;
  margin-top: 20px;
}

.cont_btn {
  position: relative;
  display: block;
  width: 200px;
  height: 60px;
  background-color: transparent;
  font-family: "Pretendard Variable";
  font-size: 1.8rem;
  font-weight: normal;
  color: #e72223;
  text-align: center;
  line-height: 1.56;
  border: 1px solid #e72223;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  z-index: 2;
}
.cont_btn::before, .cont_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 0;
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform-origin: left;
  transition: 0.3s;
  z-index: -1;
}
.cont_btn::before {
  background-color: #e72223;
}
.cont_btn::after {
  background: #fff7dd;
  background: linear-gradient(to bottom, #fff7dd 0%, #e5d8a0 49%, #dbcd7d 51%, #e72223 100%);
  opacity: 0;
}
.cont_btn:hover {
  color: #fff;
}
.cont_btn:hover::before {
  height: 700%;
}
.cont_btn:hover::after {
  top: 600%;
  height: 200%;
  opacity: 1;
  transition: all 0.6s 0.25s;
}

.aniOn {
  position: relative;
  overflow: hidden;
}
.aniOn::after {
  background-color: #e72223;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  animation: imgBgAni 0.8s 0.1s ease-in-out;
}
.aniOn .image {
  animation-delay: 0.75s;
  animation: fadeIn-animation 0.2s 0.45s forwards;
  opacity: 0;
}

.info_list .img_area.aniOn::after {
  background-color: #eaeaf2;
}

@keyframes slideDown-animation {
  from {
    transform: translate3d(0, -20px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes imgBgAni {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 105%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
@keyframes fadeIn-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.scroll_down_wrap {
  width: 100%;
  position: absolute;
  bottom: 60px;
  left: 0;
  z-index: 5;
  cursor: pointer;
}
.scroll_down_wrap .scroll_inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 60px;
}
.scroll_down_wrap .scroll_inner .scroll_icon {
  position: relative;
  width: 19px;
  height: 27px;
  background-image: url("../imgs/common/icon-scrolldown-fff.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}
.scroll_down_wrap .scroll_inner .scroll_icon::after {
  content: "";
  position: absolute;
  left: 50%;
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #FFF;
  animation: scrollDown-animation 2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.scroll_down_wrap .scroll_inner p {
  font-family: "Archivo", sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  color: #fff;
  text-align: left;
  line-height: 1.56;
}

@keyframes scrollDown-animation {
  0% {
    transform: translate(-50%, 8px);
  }
  50% {
    transform: translate(-50%, 15px);
  }
  100% {
    transform: translate(-50%, 8px);
  }
}
section .tab_menu {
  margin-bottom: 80px;
}
section .tab_menu .tab {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .tab_menu .tab .item {
  position: relative;
  display: block;
  padding-right: 16px;
}
section .tab_menu .tab .item a {
  font-family: "Archivo", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  color: #a0a0b1;
  text-align: center;
  line-height: 1.64;
}
section .tab_menu .tab .item .num {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  font-family: "Pretendard Variable";
  font-size: 1.6rem;
  font-weight: normal;
  color: #a0a0b1;
  text-align: left;
}
section .tab_menu .tab .item:not(:last-child) {
  margin-right: 34px;
}
section .tab_menu .tab .item.on > a {
  color: #e72223;
  border-bottom: #e72223 solid 1px;
  padding-bottom: 5px;
}
section .tab_menu .tab .item.on > .num {
  color: #e72223;
}

section .bread_crumb .list_area {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .bread_crumb .list_area .item {
  height: 60px;
  position: relative;
}
section .bread_crumb .list_area .item a {
  font-family: "Pretendard Variable";
  font-size: 1.8rem;
  font-weight: normal;
  color: #6d6d7e;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .bread_crumb .list_area .item:not(:last-child) {
  padding-right: 36px;
}
section .bread_crumb .list_area .item:not(:last-child)::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 16px;
  height: 16px;
  background: url(../imgs/common/icon-breadcrumb-arrow.svg) no-repeat center/contain;
  transform: translateY(-50%);
}
section .bread_crumb .title {
  margin-bottom: 50px;
}

section > [data-scroll=Onscroll] {
  opacity: 0;
  transform: translate(0, 30px);
  transition: 0.5s;
}
section > [data-scroll=Onscroll].on {
  opacity: 1;
  transform: translate(0, 0);
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 10;
  background-color: transparent;
  transition: all 0.3s;
}
header .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
header .inner .logo {
  width: 95px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 301;
  left: 18px;
}
header .inner .logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(../imgs/common/header-logo-ffffff.svg) no-repeat center/100%;
}
header .inner .logo a span {
  display: none;
}
header .inner .gnb_wrap {
  height: 100%;
}
header .inner .gnb_wrap .gnb {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner .gnb_wrap .gnb .gnb_list {
  padding: 0 30px;
  position: relative;
  height: 100%;
}
header .inner .gnb_wrap .gnb .gnb_list > a {
  font-family: "Pretendard Variable";
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .inner .gnb_wrap .gnb .gnb_list .gnb_2 {
  box-sizing: content-box;
  display: block;
  visibility: hidden;
  width: 90%;
  text-align: center;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 15px;
  box-shadow: 0px 10px 25px rgba(49, 49, 63, 0.3);
  opacity: 0;
}
header .inner .gnb_wrap .gnb .gnb_list .gnb_2 li {
  margin-bottom: 15px;
}
header .inner .gnb_wrap .gnb .gnb_list .gnb_2 li a {
  font-family: "Pretendard Variable";
  font-size: 1.6rem;
  font-weight: 400;
  color: #6d6d7e;
  text-align: center;
  line-height: 1.5;
  transition: 0.5s;
}
header .inner .gnb_wrap .gnb .gnb_list .gnb_2 li a:hover {
  border-bottom: #6d6d7e 1px solid;
}
header .inner .gnb_wrap .gnb .gnb_list .gnb_2 li:last-child {
  margin-bottom: 0px;
}
header .inner .gnb_wrap .gnb .gnb_list:hover .gnb_2 {
  visibility: visible;
  opacity: 1;
  top: 80%;
  transition: transform 0.6s, opacity 0.5s, top 0.5s;
}
header .inner .header_right {
  position: absolute;
  bottom: 50%;
  right: 0;
  z-index: 301;
  transform: translateY(50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  right: 18px;
}
header .inner .header_right .lang {
  width: 100%;
}
header .inner .header_right .lang a {
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}
header .inner .header_right .lang a:nth-of-type(1) {
  border-bottom: 1px solid #fff;
  margin-right: 20px;
}
header .inner .header_right .lang a:nth-of-type(2) {
  color: rgba(255, 255, 255, 0.5);
}
header .inner .header_right .menu_btn_wrap {
  margin-left: 50px;
}
header .inner .header_right .menu_btn_wrap .menu_btn {
  width: 40px;
  height: 38px;
  position: relative;
  display: block;
}
header .inner .header_right .menu_btn_wrap .menu_btn .line {
  position: absolute;
  right: 0;
  top: 50%;
  background-color: white;
  width: 100%;
  height: 2px;
  margin: 2px 0;
  transition: 0.5s;
}
header .inner .header_right .menu_btn_wrap .menu_btn .line:nth-of-type(1) {
  transform: translateY(-500%);
  width: 100%;
}
header .inner .header_right .menu_btn_wrap .menu_btn .line:nth-of-type(2) {
  width: 60%;
}
header .inner .header_right .menu_btn_wrap .menu_btn .line:nth-of-type(3) {
  transform: translateY(500%);
  width: 100%;
}
header .inner .header_right .menu_btn_wrap .menu_btn.active .line:nth-of-type(1) {
  transform: rotate(135deg);
}
header .inner .header_right .menu_btn_wrap .menu_btn.active .line:nth-of-type(2) {
  opacity: 0;
}
header .inner .header_right .menu_btn_wrap .menu_btn.active .line:nth-of-type(3) {
  transform: rotate(-135deg);
}
header .header_open_wrap {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .header_open_wrap.open {
  visibility: visible;
  opacity: 1;
}
header .header_open_wrap .open_bg {
  width: 35%;
  height: 100%;
}
header .header_open_wrap .open_bg::after {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(../imgs/common/nav-bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header .header_open_wrap .inner_open {
  padding: 0 10% 0 6%;
}
header .header_open_wrap .inner_open .gnb {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
header .header_open_wrap .inner_open .gnb .gnb_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .header_open_wrap .inner_open .gnb .gnb_list > a {
  font-family: "Pretendard Variable";
  font-size: 4rem;
  font-weight: 500;
  color: #31313f;
  text-align: center;
  text-align: left;
  padding: 5px 0;
  padding-right: 50px;
  transition: color 0.4s;
}
header .header_open_wrap .inner_open .gnb .gnb_list .gnb_2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .header_open_wrap .inner_open .gnb .gnb_list .gnb_2 li > a {
  font-family: "Pretendard Variable";
  font-size: 2rem;
  font-weight: 400;
  color: #6d6d7e;
  text-align: center;
  padding: 5px 0;
  transition: color 0.4s, border 0.4s;
}
header .header_open_wrap .inner_open .gnb .gnb_list .gnb_2 > li:not(:last-child) {
  margin-right: 30px;
}
header .header_open_wrap .inner_open .gnb .gnb_list .gnb_2 li:hover > a {
  border-bottom: solid 1px #31313f;
  color: #31313f;
}
header .header_open_wrap .inner_open .gnb .gnb_list:hover > a {
  color: #e72223;
}
header .header_open_wrap .inner_open .gnb > li:not(:last-child) {
  margin-bottom: 45px;
}
header.on {
  background-color: #fff !important;
  box-shadow: 0px 0px 10px rgba(49, 49, 63, 0.1);
}
header.header_sub {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
}
header.header_sub .inner .logo a {
  background: url(../imgs/common/header-logo-point.svg) no-repeat center/100%;
}
header.header_sub .inner .gnb_wrap .gnb .gnb_list a {
  color: #31313f;
}
header.header_sub .inner .header_right .lang a {
  color: #6d6d7e;
}
header.header_sub .inner .header_right .lang a:nth-of-type(1) {
  border-bottom: 1px solid #6d6d7e;
  margin-right: 20px;
}
header.header_sub .inner .header_right .lang a:nth-of-type(2) {
  color: #d6d6e3;
}
header.header_sub .inner .header_right .menu_btn_wrap .menu_btn .line {
  background-color: #000;
}

footer {
  width: 100%;
  background-color: #31313f;
  padding: 110px 0;
}
footer .inner_c .footer_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 150px;
}
footer .inner_c .footer_top .footer_title p {
  font-family: "Pretendard Variable";
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  text-align: left;
  line-height: 1.43;
  margin-bottom: 40px;
}
footer .inner_c .footer_top .footer_title .cont_btn {
  border: 1px solid #fff;
  color: #fff;
}
footer .inner_c .footer_top .footer_menu .menu_item {
  margin-bottom: 10px;
  text-align: right;
}
footer .inner_c .footer_top .footer_menu .menu_item > a {
  font-family: "Pretendard Variable";
  font-size: 2.2rem;
  font-weight: 400;
  color: #d6d6e3;
  text-align: right;
  line-height: 1.5;
}
footer .inner_c .footer_top .footer_menu .menu_item > a:hover {
  color: #fff;
}
footer .inner_c .footer_btn {
  margin-bottom: 23px;
}
footer .inner_c .footer_btn a {
  font-family: "Pretendard Variable";
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  text-align: left;
  line-height: 1.56;
  position: relative;
  top: 0;
  left: 0;
}
footer .inner_c .footer_btn a::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../imgs/common/icon-arrow-footer.svg") no-repeat center/contain;
  margin-left: 5px;
}
footer .inner_c .footer_btn a::before {
  position: absolute;
  bottom: -4px;
  right: 0;
  content: "";
  width: 100%;
  border-bottom: #fff 1px solid;
}
footer .inner_c .footer_cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .inner_c .footer_cont .cont_item {
  flex: 1;
}
footer .inner_c .footer_cont .cont_item address {
  margin-bottom: 20px;
}
footer .inner_c .footer_cont .cont_item address .address_cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
footer .inner_c .footer_cont .cont_item address .address_cont .item {
  margin-right: 25px;
  margin-bottom: 5px;
  display: flex;
}
footer .inner_c .footer_cont .cont_item address .address_cont .item:last-child {
  margin-right: 0;
}
footer .inner_c .footer_cont .cont_item address .address_cont .item dt {
  display: inline-block;
  margin-right: 5px;
  font-family: "Pretendard Variable";
  font-size: 1.6rem;
  font-weight: 400;
  color: #a0a0b1;
  text-align: left;
  line-height: 1.6;
}
footer .inner_c .footer_cont .cont_item address .address_cont .item dd {
  display: inline-block;
  font-family: "Pretendard Variable";
  font-size: 1.6rem;
  font-weight: 400;
  color: #d6d6e3;
  text-align: left;
  line-height: 1.6;
}
footer .inner_c .footer_cont .cont_item p {
  font-family: "Pretendard Variable";
  font-size: 1.6rem;
  font-weight: 400;
  color: #a0a0b1;
  text-align: left;
}
footer .inner_c .footer_cont .cont_link {
  display: flex;
  flex-direction: column;
}
footer .inner_c .footer_cont .cont_link a {
  font-family: "Pretendard Variable";
  font-size: 1.5rem;
  font-weight: 400;
  color: #d6d6e3;
  text-align: right;
  line-height: 1.6;
  margin-bottom: 5px;
}
footer .inner_c .footer_cont .cont_link a:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1600px) {
  header .header_open_wrap .open_bg {
    width: 30%;
  }
  header .header_open_wrap .inner_open {
    padding: 0 6% 0 6%;
  }
}
@media screen and (max-width: 1430px) {
  header .header_open_wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  header .header_open_wrap .open_bg {
    display: none;
    width: 35%;
    height: 100%;
  }
  header .header_open_wrap .open_bg::after {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(../imgs/common/nav-bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  header .header_open_wrap .inner_open .gnb .gnb_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  header .header_open_wrap .inner_open .gnb .gnb_list > a {
    font-family: "Pretendard Variable";
    font-size: 4rem;
    font-weight: 500;
    color: #31313f;
    text-align: center;
    text-align: left;
    padding: 5px 0;
    padding-right: 50px;
    transition: color 0.4s;
  }
  header .header_open_wrap .inner_open .gnb .gnb_list .gnb_2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  header .header_open_wrap .inner_open .gnb .gnb_list .gnb_2 li > a {
    font-family: "Pretendard Variable";
    font-size: 2rem;
    font-weight: 400;
    color: #6d6d7e;
    text-align: center;
    padding: 5px 0;
    transition: color 0.4s, border 0.4s;
  }
  header .header_open_wrap .inner_open .gnb .gnb_list .gnb_2 > li:not(:last-child) {
    margin-right: 30px;
  }
  header .header_open_wrap .inner_open .gnb .gnb_list .gnb_2 li:hover > a {
    border-bottom: solid 1px #31313f;
    color: #31313f;
  }
  header .header_open_wrap .inner_open .gnb .gnb_list:hover > a {
    color: #e72223;
  }
  header .header_open_wrap .inner_open .gnb > li:not(:last-child) {
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 1200px) {
  h4.title {
    font-size: 3.5rem;
  }
  .title {
    font-size: 4.5rem;
  }
  header .inner .gnb_wrap .gnb .gnb_list {
    padding: 0 19px;
  }
  header .inner .gnb_wrap .gnb .gnb_list > a {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 991px) {
  html {
    font-size: 6px !important;
  }
  h4.title {
    font-size: 4.5rem;
  }
  .title {
    font-size: 5rem;
  }
  .desc {
    font-size: 2.5rem;
    margin-top: 20px;
  }
  .cont_btn {
    width: 180px;
    height: 50px;
    font-size: 3rem;
    line-height: 1.75;
  }
  .cont_btn:hover {
    color: #e72223;
  }
  .cont_btn:hover::before {
    height: 0;
  }
  .cont_btn:hover::after {
    top: 0;
    height: 0;
    opacity: 0;
    transition: none;
  }
  section .tab_menu {
    margin-bottom: 45px;
  }
  section .tab_menu .tab {
    margin: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section .tab_menu .tab .item {
    margin-bottom: 10px;
  }
  section .tab_menu .tab .item a {
    font-size: 3rem;
  }
  section .tab_menu .tab .item .num {
    font-size: 2rem;
  }
  section .tab_menu .tab .item:not(:last-child) {
    margin-right: 0;
  }
  section.sub_top_wrap {
    margin: 0 !important;
  }
  section.sub_top_wrap .bread_crumb {
    margin: 40px 0 60px;
  }
  section.sub_top_wrap .bread_crumb .list_area {
    margin-bottom: 10px;
  }
  section.sub_top_wrap .bread_crumb .list_area .item {
    height: 24px;
  }
  section.sub_top_wrap .bread_crumb .list_area .item a {
    font-size: 2.5rem;
  }
  section.sub_top_wrap .bread_crumb .title {
    font-size: 6rem;
    margin-bottom: 0;
  }
  header {
    height: 65px;
    position: fixed;
  }
  header .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }
  header .inner .logo {
    width: 73px;
    height: 65px;
  }
  header .inner .logo a {
    background: url(../imgs/common/header-logo-ffffff.svg) no-repeat center/100%;
  }
  header .inner .gnb_wrap {
    display: none;
  }
  header .inner .header_right {
    position: absolute;
    bottom: 50%;
    right: 0;
    transform: translateY(50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    right: 18px;
  }
  header .inner .header_right .lang {
    width: 100%;
  }
  header .inner .header_right .lang a {
    font-size: 2.5rem;
  }
  header .inner .header_right .menu_btn_wrap {
    margin-left: 35px;
  }
  header .inner .header_right .menu_btn_wrap .menu_btn {
    width: 28px;
    height: 38px;
  }
  header .header_open_wrap {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;
    display: block;
    padding: 105px 50px 0;
  }
  header .header_open_wrap .open_bg {
    width: 100%;
    height: 100%;
  }
  header .header_open_wrap .open_bg::after {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(../imgs/common/nav-bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  header .header_open_wrap .inner_open {
    padding: 0;
  }
  header .header_open_wrap .inner_open .gnb {
    flex-direction: column;
  }
  header .header_open_wrap .inner_open .gnb .gnb_list {
    width: 100%;
    display: block;
  }
  header .header_open_wrap .inner_open .gnb .gnb_list > a {
    height: 60px;
    display: flex;
    vertical-align: middle;
    font-size: 5rem;
  }
  header .header_open_wrap .inner_open .gnb .gnb_list .gnb_2 {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    margin-bottom: 20px;
    display: block;
  }
  header .header_open_wrap .inner_open .gnb .gnb_list .gnb_2 li > a {
    font-size: 3rem;
    display: inline-block;
    width: 100%;
    text-align: left;
  }
  header .header_open_wrap .inner_open .gnb .gnb_list .gnb_2 > li:not(:last-child) {
    margin-right: 0;
  }
  header .header_open_wrap .inner_open .gnb .gnb_list .gnb_2 li:hover > a {
    border-bottom: none;
    color: #6d6d7e;
  }
  header .header_open_wrap .inner_open .gnb .gnb_list:hover > a {
    color: #31313f;
  }
  header .header_open_wrap .inner_open .gnb > li:not(:last-child) {
    margin-bottom: 0;
  }
  footer {
    padding: 60px 0;
  }
  footer .inner_c .footer_top {
    margin-bottom: 60px;
  }
  footer .inner_c .footer_top .footer_title p {
    margin-bottom: 20px;
  }
  footer .inner_c .footer_top .footer_title .cont_btn {
    margin: 0;
  }
  footer .inner_c .footer_top .footer_menu {
    display: none;
  }
  footer .inner_c .footer_btn a {
    font-size: 2.5rem;
  }
  footer .inner_c .footer_cont {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .inner_c .footer_cont .cont_item address .address_cont {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }
  footer .inner_c .footer_cont .cont_item address .address_cont .item {
    margin-right: 25px;
    margin-bottom: 5px;
    display: flex;
  }
  footer .inner_c .footer_cont .cont_item address .address_cont .item:last-child {
    margin-right: 0;
  }
  footer .inner_c .footer_cont .cont_item address .address_cont .item dt {
    display: inline-block;
    margin-right: 5px;
    font-size: 2.5rem;
  }
  footer .inner_c .footer_cont .cont_item address .address_cont .item dd {
    display: inline-block;
    font-size: 2.5rem;
  }
  footer .inner_c .footer_cont .cont_item p {
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-weight: 400;
    color: #a0a0b1;
    text-align: left;
  }
  footer .inner_c .footer_cont .cont_link {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin-top: 40px;
    border-top: 1px solid rgba(214, 214, 227, 0.3);
  }
  footer .inner_c .footer_cont .cont_link a {
    font-size: 2.5rem;
    margin-right: 30px;
    margin-bottom: 0;
  }
  footer .inner_c .footer_cont .cont_link a:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .inner_c {
    width: 100%;
    max-width: 1636px;
    margin: 0 auto;
    padding: 0 18px;
  }
  footer {
    padding: 40px 0 0 0;
  }
}
@media screen and (max-width: 1720px) {
  .visual_wrap .cont_wrap .slide_controll {
    left: 0;
    padding: 0 60px;
  }
  .swiper_wrap .cont_text {
    padding: 0 60px;
    left: 0;
  }
}
@media screen and (max-width: 1600px) {
  .main_intro_wrap .intro_item .intro_text {
    font-size: 8.6rem;
  }
  .main_intro_wrap .intro_item:nth-of-type(4) .intro_text {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 1200px) {
  .main_film_wrap .inner_c .cont_wrap .cont_area .cont_title {
    margin-bottom: 20px;
  }
  .main_film_wrap .inner_c .cont_wrap .cont_area .cont .cont_item .item_txt {
    padding: 40px 50px;
  }
  .main_film_wrap .inner_c .cont_wrap .cont_area:not(:last-child) {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 991px) {
  .visual_wrap .cont_wrap .slide_controll {
    max-width: 1636px;
    padding: 0 18px;
  }
  .visual_wrap .cont_wrap .slide_controll .pNum {
    font-size: 2.6rem;
  }
  .visual_wrap .cont_wrap .inner {
    max-width: 1636px;
    padding: 0 18px;
  }
  .visual_wrap .cont_wrap .cont_text {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 5rem;
    max-width: 1636px;
    margin: 0 auto;
    padding: 0 18px;
  }
  .visual_wrap .cont_wrap .cont_text span {
    font-weight: bold;
  }
  .visual_wrap .swiper_wrap .slide img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .visual_wrap .swiper_wrap .slide:nth-of-type(1) img:nth-of-type(1), .visual_wrap .swiper_wrap .slide:nth-of-type(2) img:nth-of-type(1) {
    display: none;
  }
  .visual_wrap .swiper_wrap .slide:nth-of-type(1) img:nth-of-type(2), .visual_wrap .swiper_wrap .slide:nth-of-type(2) img:nth-of-type(2) {
    display: block;
  }
  .visual_wrap .scroll_down_wrap {
    bottom: 18px;
  }
  .visual_wrap .scroll_down_wrap .scroll_inner {
    max-width: 1636px;
    padding: 0 18px;
  }
  .visual_wrap .scroll_down_wrap .scroll_inner p {
    display: none;
  }
  .visual_wrap .video_modal_wrap .modal_btn .modal_title {
    width: 50px;
  }
  .visual_wrap .video_modal_wrap .modal_btn .modal_title p {
    display: none;
  }
  .visual_wrap .video_modal_wrap .modal_btn .modal_title b {
    font-size: 3.4rem;
  }
  .main_intro_wrap {
    padding: 80px 0;
  }
  .main_intro_wrap .intro_mitem {
    display: block;
    border-top: #e72223 solid 1px;
    padding-top: 40px;
  }
  .main_intro_wrap .intro_mitem .intro_text {
    width: 100%;
    font-family: "Archivo", sans-serif;
    font-size: 9rem;
    font-weight: 700;
    color: #e72223;
    text-align: center;
    line-height: 1.07;
    margin-bottom: 20px;
  }
  .main_intro_wrap .intro_mitem .intro_text:nth-of-type(2) {
    font-family: "Pretendard Variable";
    font-size: 2.5rem;
    font-weight: 300;
    color: #e72223;
    text-align: center;
    line-height: 1.56;
    margin-bottom: 30px;
  }
  .main_intro_wrap .intro_mitem .intro_text:nth-of-type(2) b {
    font-weight: bold;
  }
  .main_intro_wrap .intro_item {
    width: 100%;
    display: block;
    padding: 0;
    border-bottom: none;
  }
  .main_intro_wrap .intro_item .intro_text {
    display: none;
  }
  .main_intro_wrap .intro_item .intro_img {
    width: 100%;
    margin-bottom: 10px;
  }
  .main_intro_wrap .intro_item .intro_img img {
    width: 100%;
  }
  .main_intro_wrap .intro_item:last-child .intro_img {
    padding-bottom: 40px;
    margin-bottom: 0;
    border-bottom: #e72223 solid 1px;
  }
  .main_business_wrap::after {
    display: none;
  }
  .main_business_wrap .business_cont {
    width: 100%;
    display: block;
    padding-bottom: 80px;
  }
  .main_business_wrap .business_cont .cont_left {
    width: 100%;
    height: auto;
  }
  .main_business_wrap .business_cont .cont_right {
    width: 100%;
    display: block;
  }
  .main_business_wrap .business_cont .cont_right .business_item:last-child {
    margin-bottom: 0px;
  }
  .main_business_wrap .business_cont .cont_right .business_item:nth-of-type(1) .bg {
    background-image: url(../imgs/main/img-main-business-02-m.jpg) !important;
  }
  .main_business_wrap .business_cont .cont_right .business_item:nth-of-type(2) .bg {
    background-image: url(../imgs/main/img-main-business-03-m.jpg) !important;
  }
  .main_business_wrap .business_cont .business_item {
    width: 100%;
    position: static;
    overflow: visible;
    margin-bottom: 40px;
  }
  .main_business_wrap .business_cont .business_item a {
    transition: none;
  }
  .main_business_wrap .business_cont .business_item a .bg {
    position: static;
    padding-top: 44.3786982249%;
  }
  .main_business_wrap .business_cont .business_item a .txt_wrap {
    overflow: visible;
    position: static;
    padding: 0 15px;
  }
  .main_business_wrap .business_cont .business_item a .txt_wrap .inner_t {
    transition: none;
    transform: translateY(0);
  }
  .main_business_wrap .business_cont .business_item a .txt_wrap .inner_t span {
    font-size: 3.7rem;
    color: #31313f;
    margin: 20px 0 10px 0;
  }
  .main_business_wrap .business_cont .business_item a .txt_wrap .inner_t span::after {
    background-image: url(../imgs/main/icon-go-to-A0A0B1-m.svg);
    transition-duration: none;
  }
  .main_business_wrap .business_cont .business_item a .txt_wrap .inner_t p {
    font-size: 2.5rem;
    color: #6d6d7e;
  }
  .main_business_wrap .business_cont .business_item a .txt_wrap .inner_t p .none {
    display: none !important;
  }
  .main_business_wrap .business_cont .business_item a:hover .inner_t {
    transform: translateY(0px);
  }
  .main_business_wrap .business_cont .business_item a:hover .bg {
    transition: none;
    transform: none;
  }
  .main_type_wrap {
    padding: 80px 0;
  }
  .main_type_wrap .inner_c .txt_area .title {
    margin-bottom: 15px;
  }
  .main_type_wrap .inner_c .tab_list .list_wrap .list {
    flex: none;
  }
  .main_type_wrap .inner_c .tab_list .list_wrap .list a {
    display: inline-block;
    height: 100%;
  }
  .main_type_wrap .inner_c .tab_list .list_wrap .list a img {
    transition-duration: 0.3s;
    width: 100%;
    border: solid #d6d6e3 1px;
  }
  .main_type_wrap .inner_c .tab_list .list_wrap .list a img:nth-of-type(1) {
    display: none;
  }
  .main_type_wrap .inner_c .tab_list .list_wrap .list a img:nth-of-type(2) {
    display: block;
  }
  .main_type_wrap .inner_c .tab_list .list_wrap .list a .sub_title {
    font-size: 2.3rem;
    display: block;
    margin: 15px 0 0 0;
  }
  .main_type_wrap .inner_c .tab_list .list_wrap .list a .sub_txt {
    font-size: 3.3rem;
  }
  .main_type_wrap .inner_c .tab_list .list_wrap .list a .sub_txt::after {
    width: 24px;
    height: 24px;
  }
  .main_type_wrap .inner_c .tab_list .list_wrap .list a:hover > img {
    border-color: #d6d6e3;
  }
  .main_type_wrap .inner_c .tab_list .list_wrap .list a:hover > .sub_txt {
    color: #31313f;
  }
  .main_type_wrap .inner_c .tab_list .list_wrap .list a:hover > .sub_txt::after {
    background-image: url(../imgs/main/icon-go-to-A0A0B1-m.svg);
  }
  .main_film_wrap {
    padding: 80px 0;
    width: 100%;
  }
  .main_film_wrap .inner_c {
    flex-direction: column;
  }
  .main_film_wrap .inner_c .txt_area {
    width: 100%;
    position: static;
  }
  .main_film_wrap .inner_c .txt_area .title {
    text-align: center;
  }
  .main_film_wrap .inner_c .txt_area .desc {
    text-align: center;
  }
  .main_film_wrap .inner_c .txt_area .desc .cont_btn {
    left: calc(50% - 90px);
  }
  .main_film_wrap .inner_c .cont_wrap {
    width: 100%;
    margin-top: 50px;
  }
  .main_film_wrap .inner_c .cont_wrap .cont_area .cont .cont_item > p {
    font-size: 3.6rem;
    width: 10%;
  }
  .main_film_wrap .inner_c .cont_wrap .cont_area .cont .cont_item .item_txt {
    display: block;
    width: 90%;
    padding: 35px 40px;
  }
  .main_film_wrap .inner_c .cont_wrap .cont_area .cont .cont_item .item_txt > p {
    font-size: 3.5rem;
  }
  .main_film_wrap .inner_c .cont_wrap .cont_area:not(:last-child) {
    margin-bottom: 50px;
  }
  .main_img_wrap {
    display: none;
  }
  .main_info_wrap {
    padding: 80px 0;
  }
  .main_info_wrap .inner_c {
    flex-direction: column-reverse;
    width: 100%;
  }
  .main_info_wrap .inner_c .cont_img {
    width: 100%;
    height: 0;
    padding-top: 53.2544378698%;
  }
  .main_info_wrap .inner_c .txt_area {
    width: 100%;
  }
  .main_info_wrap .inner_c .txt_area h4.title {
    margin-bottom: 0;
  }
  .main_info_wrap .inner_c .txt_area .desc {
    margin-top: 15px;
  }
  .main_info_wrap .inner_c .txt_area .desc .cont_btn {
    margin: 30px 0 55px;
  }
  .main_map_wrap {
    position: relative;
    padding: 80px 0;
  }
  .main_map_wrap .inner_c {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .main_map_wrap .inner_c .txt_area {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .main_map_wrap .inner_c .txt_area h4.title {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }
  .main_map_wrap .inner_c .txt_area .desc {
    width: 100%;
    margin-top: 15px;
  }
  .main_map_wrap .map_area img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .visual_wrap .video_modal_wrap {
    padding: 10px 10px 10px 13px;
  }
  .visual_wrap .video_modal_wrap .modal_btn .modal_title {
    margin-right: 12px;
  }
  .visual_wrap .video_modal_wrap .modal_btn .modal_title b {
    font-size: 2.5rem;
  }
  .visual_wrap .video_modal_wrap .modal_btn .modal_img {
    position: relative;
    top: 0;
    left: 0;
  }
  .visual_wrap .video_modal_wrap .modal_btn .modal_img img {
    width: 140px;
    height: 91px;
  }
  .visual_wrap .video_modal_wrap .modal_btn .modal_img .playbtn {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .visual_wrap .video_modal_wrap .modal_btn .modal_img .playbtn img {
    width: 100%;
  }
  .main_business_wrap .title {
    margin-bottom: 30px;
  }
  .main_film_wrap .inner_c .cont_wrap .cont_area .cont_title {
    margin-bottom: 15px;
  }
  .main_film_wrap .inner_c .cont_wrap .cont_area .cont .cont_item > p {
    font-size: 3rem;
  }
  .main_film_wrap .inner_c .cont_wrap .cont_area .cont .cont_item .item_txt {
    padding: 20px 20px 20px 12px;
  }
  .main_film_wrap .inner_c .cont_wrap .cont_area .cont .cont_item .item_txt > p {
    font-size: 2.5rem;
  }
  .main_film_wrap .inner_c .cont_wrap .cont_area:not(:last-child) {
    margin-bottom: 50px;
  }
}